<h1>Create a new meetup</h1>

<form action="/meetups/new" method="post">
  <div class="columns medium-4">
    <label for="name">Choose a Meetup Name</label>
    <input class="string required" placeholder="Name" type="text" name="name" id="name" value="<%= @name %>">
  </div>
  <div class="columns medium-4">
    <label for="location">Choose a Meetup Location</label>
    <input class="string required" placeholder="Location" type="text" name="location" id="location" value="<%= @location %>">
  </div>
  <div class="columns medium-4">
    <label for="details">Describe your Meetup</label>
    <input class="string required" placeholder="Details" type="text" name="details" id="details" value="<%= @details %>">
  </div>


  <% if @errors.nil? %>
  <% else @errors.each do |error| %>
      <p><%= error %>
      <% end %>
  <% end %>
  <div class="columns text-left">
    <input type="submit" id="submit"></div>
  </div>
</form>
